[*.cs]

# CS8767: Допустимость значений NULL для ссылочных типов в типе параметра не соответствует неявно реализованному элементу (возможно, из-за атрибутов допустимости значений NULL).
dotnet_diagnostic.CS8767.severity = none
